<p>MyPage  <%= link_to "編集", edit_user_registration_path %></p>
<p>なまえ：<%= @user.username%></p>
<p>e-mail：<%= @user.email %></p>
<p>お気に入りジャンル：<%= @user.favorite_genre %></p>
<p>わたしの一冊：<%= @user.recomended_one %></p>
<p>おすすめポイント：<%= @user.recomended_one_point %></p>
<p>お気に入りその２：<%= @user.recomended_two %></p>
<p>お気に入りその３：<%= @user.recomended_three %></p>
<p>お気に入りその４：<%= @user.recomended_four %></p>
<p>お気に入りその５：<%= @user.recomended_five %></p>